<% if !user_signed_in? %>
<div class="center jumbotron">
  <h1>Welcome to Imgur2</h1>

  <h2>
    This is the home page for the Imgur2
  </h2>
  
  
  
    <p>Register to get started.</p>
    <p>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-success btn-lg' %>
    </p>
  
  

  
</div>

<div class="owl-carousel">
  
    <div class="item"> OMG</div>
    <div class="item"> ADD </div>
    <div class="item"> COOL</div>
    <div class="item"> IMAGES </div>
    <div class="item"> HERE</div>
    <div class="item"> XD </div>
    <div class="item"> XD </div>
    <div class="item"> XD </div>
    <div class="item"> XD </div>
</div>




<script>
  $(".owl-carousel").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
</script>

<% end %>

<% if user_signed_in? %>
    <div class="row">
    <div class="col-md-4 col-sm-12 card" >
      <div class=" left" >
        <aside class="col-md-12 col-sm-12 col-lg-12" >

        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>

      </aside>
      </div>

    </div>
    <div class="col-md-8 col-sm-12 card-3">
      <h3>Micropost Feed</h3>
      <div class="">
        <%= render 'shared/feed' %>
      </div>
    </div>
    </div>
<% end %>