<div class="col-md-3 card-3 full-padding">
  <ul class="nav nav-pills nav-stacked">
    <li id='users-tab' class="active"><a >Users</a></li>
    <li id='tags-tab' ><a>Tags</a></li>
  </ul>
</div>

<div class="col-md-9 ">
    <div id='users' class="card-3 top-padding bot-padding">
        <ul class="users">
          <% @users.each do |user| %>
             <li>
               <%= gravatar_for user, size: 50 %>
               <%= link_to user.name, user %>
             </li>
          <% end -%>
        </ul>
    
        <% if !@users.present? %>
            <p>There are no users of this name <%= params[:search] %></p>
        <% end %>
    </div>
    
    
    <div  id="tags" class="full-padding">
        <% if @hashtagged %>
          <% @hashtagged.each do |hashtagged| %>
            <% view    = hashtagged.class.to_s.underscore.pluralize %>
            <% partial = hashtagged.class.to_s.underscore %>
            <%= render "#{view}/#{partial}", {partial.to_sym => hashtagged} %>
          <% end -%>
        <% else -%>
          <p>There is no match for the <em><%= params[:search] %></em> tag.</p>
        <% end -%>
    </div>
</div>

<script>

$("#tags").hide();

$("#users-tab").click( function(){
      $(this).addClass("active")
      $("#tags-tab").removeClass("active")
      $("#users").show();
      $("#tags").hide();
});

$("#tags-tab").click( function(){
    $(this).addClass("active")
   $("#users-tab").removeClass("active")
   $("#tags").show();
   $("#users").hide();
});



</script>