<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4 col-sm-12 card" >
    <div class="left bot-padding" >
      <aside class="col-md-12 col-sm-12 col-lg-12" >
        <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        </section>
        <section class="stats">
          <%= render 'follow_form' if user_signed_in? %>
          <%= render 'shared/stats' %>
        </section>
    
    </aside>
    </div>
  </div>
  <div class="col-md-8 col-sm-12">
    <% if @user.microposts.any? %>
      <h3 class="white-text">Posts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>




 