<% cache(cache_key_for_post(micropost)) do %>
<li id="micropost-<%= micropost.id %>"> 
  <div class="card-3 full-padding"> 
    <div class="">
      
      
      <div class="">
      
          <%= link_to gravatar_for(micropost.user, size: 50, :d => :mm), micropost.user %>
          <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
          <span class="content">
            <%= linkify_hashtags(micropost.content) %></br>
            <a href="<%= user_micropost_path(username: micropost.user, id: micropost.id) %>"><%= image_tag micropost.image.url(:medium) if micropost.image? %></a>
          </span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete,
                                               data: { confirm: "You sure?" } %>
            <% end %>
          </span>
          
         
            <%= commontator_thread(micropost) %>

      </div>
      
   
    </div>
  </div>
</li>
<% end %>
