<div class="container top-padding card-3">
  <div class= "row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= link_to gravatar_for(@post.user, size: 50), @post.user %></br>
  <span class="user"><%= link_to @post.user.name, @post.user %></br></span>
  <span class="content">
    <%= linkify_hashtags(@post.content) %></br>
    <%= image_tag @post.image.url(:medium) if @post.image? %></br>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.</br>
    <% if current_user == @post.user %>
      <%= link_to "Delete", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= commontator_thread(@post) %>
    </div>
  </div>

  
</div>
